@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--Grade calculator form-->
<h3>Grade Calculator</h3>
<p>Enter projected percentages for the following areas</p>
<form>
    <label>Assignments:</label>
    <input id="assignments" /> <br />
    <label>Group Project:</label>
    <input id="project" /> <br />
    <label>Quizzes:</label>
    <input id="quizzes" /> <br />
    <label>Exams:</label>
    <input id="exams" /> <br />
    <label>INTEX:</label>
    <input id="intex" /> <br />
    <input id="SubmitBtn" type="button" value="Calculate" />
</form>

<!--Javascript and Jquery files that my program runs-->
<script src="js/GradeCalculator.js"></script>