@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Jacob Reynolds";
}

<!--Header and image-->
<h1>Jake Reynolds</h1>
<img src="img/projectsurfing.jpg" width="175" />

<!--paragraph of what I want out of the class-->
<p>
    I have a goal of starting a business this summer, and I want to build the website that my potential
    customers will interact with. I'm hoping that in IS 413 I will learn some useful skills that will help
    me achieve that goal this summer. I also want to build some better habits as a student using this class,
    and since there is so much to stay on top of I think this class would be a good opportunity to do so.
</p>

<!--Paragraph and list describing the top three jobs I want to pursue after graduation-->
<p>The top jobs I want to pursue after I graduate are:</p>
<ul>
    <li>Project Manager</li>
    <li>Software Engineer</li>
    <li>Data Analyst</li>
</ul>

